@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-source-code-pro {
  font-family: "Source Code Pro";
}

@keyframes bootFade {
  50% {
    opacity: .4;
    filter: blur(0px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.fadeInFromBlur {
  & {
    opacity: 0;
    filter: blur(10px);
    animation: bootFade 2s ease forwards;
  }
}


.titleFade {
  animation: fadeRight linear forwards;
  animation-timeline: view(0% 110%);
}

.langFade {
  animation: fadeRight linear forwards;
  animation-timeline: view(0% 70%);
}


@media (max-width: 1024px) {
  
  @keyframes fadeRight {
    100% {
      filter: blur(10px);
    }
  }
}

@media (min-width: 1024px) {
  
  @keyframes fadeRight {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(10%);
      filter: blur(10px);
    }
  }
}

.postsFade {
  animation: sharpInTheMiddle both;
  animation-timeline: view();
}

@supports (-moz-appearance: auto) {
  .titleFade, .langFade, .postsFade {
    animation: none;
  }
}

@keyframes sharpInTheMiddle {
  0% {
    filter: blur(10px);
    transform: translateX(-50px) rotateZ(-2deg);
  }

  35%,
  65% {
    filter: blur(0px);
    transform: translate(0);
  }

  100% {
    filter: blur(10px);
  }
}

.caret {
  animation: caret infinite 1s;
  /* transform: translate(-.6em); */
  position: absolute;
}

@keyframes caret {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .1;
  }
}

* {
  scroll-behavior: smooth;
}

::selection {
  color: var(--fallback-suc, oklch(var(--suc) / var(--tw-text-opacity)));
  background-color: var(--fallback-su, oklch(var(--su) / 1));
}

html {
  cursor: url("/cursors/linux-cursor.webp"), auto;
  height: 100%;
  overflow: auto;
}

/* a:hover, button:hover {
  cursor: url("/cursors/pointer.cur"), auto;
} */

body {
  height: 100%;
}